body{background-color: purple;
    background-image:url(../İmage/resim.jpg);
    background-size:auto;
    background-repeat:repeat;
    background-attachment:fixed;
    background-position: center;
}
