#div1{Width:auto;
    height: auto; 
    Border-color:red;   
 

    }
    body{
        margin:15px;
        margin-left:10px;
        padding:10px;
        padding-bottom:5px;
        Border-style:solid;
        Border-color:red;
        Border-width:3px;
        Border-radius:10px;
    }